body {
	width: 100%;
	height:100%;
}

@font-face {
	font-family: Bauhaus;
	src: url(assets/fonts/Bauhaus.ttf);
}

.blocks{
	width: 100%;
	position: relative;

}

.title {
	background: url("assets/img/title_banner.jpg") no-repeat center 100%;
	height: 8%;
	text-align: center;
	font-family: Bauhaus, Bauhaus93, Helvetica;
	box-shadow: 5px 5px 5px #888888;
	position: relative;
}
.title img{ margin-top: 10px;}
#banner {
	width:100%;
	height: 80%;
	background: #FFF;
	text-align: center;

}

#title_menu {
	vertical-align: baseline;
	height: 20%;
	width: 100%;
	text-align: center;
}

#logo1, #logo3 {
	height: 250px;
	width: 250px;
	margin-top: 30%;
}
#logo2 {
	height: 300px;
	width: 350px;
	margin-top: 30%;
}

#people_title {
	height: 10%;
}

#people_banner {
	background: url("assets/img/people_banner.jpg");
	height: 90%;
}

button {
	background: url(assets/icons/button.png);
	font-family: Bauhaus, Bauhaus93, Helvetica;
}

h1{
	margin: 0px;
}