body {
	width: 100%;
	height:100%;
}

@font-face {
	font-family: Bauhaus;
	src: url(assets/fonts/Bauhaus.ttf);
}

.blocks{
	width: 100%;
	position: relative;

}

.title {
	background: url("assets/img/title_banner.jpg") no-repeat center 100%;
	height: 8%;
	text-align: center;
	font-family: Bauhaus, Bauhaus93, Helvetica;
	position: relative;
}
.title img{ margin-top: 10px;}

.people div {
	display: none;
}

#banner {
	width:100%;
	height: 80%;
	background: #FFF;
	text-align: center;
	background: #ff32ff; /* Old browsers */
background: -moz-linear-gradient(top, #ff32ff 0%, #c4fcff 100%, #7db9e8 100%, #28f7ff 101%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff32ff), color-stop(100%,#c4fcff), color-stop(100%,#7db9e8), color-stop(101%,#28f7ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* IE10+ */
background: linear-gradient(to bottom, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff32ff', endColorstr='#28f7ff',GradientType=0 ); /* IE6-9 */

}

#title_menu {
	vertical-align: baseline;
	height: 20%;
	width: 100%;
	text-align: center;
}

#logo1, #logo3 {
	height: 250px;
	width: 250px;
	margin-top: 30%;
	margin-left: 20%;
	background-size: 250px 250px;
	background-position: center;
	background-repeat: no-repeat;
}
#logo1 {
	-webkit-animation: logo1change 10s infinite;
}
@-webkit-keyframes logo1change {
	0% {background-image: url("assets/img/starbux.png");}
	50% {background-image: url("assets/img/apple.png");}
	100% {background-image: url("assets/img/starbux.png");}
}
@keyframes logo1change {
	0% {background-image: url("assets/img/starbux.png");}
	50% {background-image: url("assets/img/apple.png");}
	100% {background-image: url("assets/img/starbux.png");}
}
#logo3 {
	-webkit-animation: logo3change 10s infinite;
}
@-webkit-keyframes logo3change {
	0% {background-image: url("assets/img/apple.png");}
	50% {background-image: url("assets/img/starbux.png");}
	100% {background-image: url("assets/img/apple.png");}
}
@keyframes logo3change {
	0% {background-image: url("assets/img/apple.png");}
	50% {background-image: url("assets/img/starbux.png");}
	100% {background-image: url("assets/img/apple.png");}
}
#logo2 {
	height: 300px;
	width: 350px;
	margin-top: 30%;
}

#people_title {
	height: 10%;
	box-shadow: none;
}

#people_banner {
	background: url("assets/img/people_banner.jpg");
	height: 100%;
	text-align: center;
}

#people_banner img {
	margin: 0px;
}


h1{
	margin: 0px;
}