body {
	width: 100%;
	height:100%;
}

@font-face {
	font-family: Bauhaus;
	src: url(assets/fonts/Bauhaus.ttf);
}

.blocks{
	width: 100%;
	position: relative;

}
#banner {
	width:100%;
	height: 100%;
	background: #FFF;
	text-align: center;
	background: #ff32ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ff32ff 0%, #c4fcff 100%, #7db9e8 100%, #28f7ff 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff32ff), color-stop(100%,#c4fcff), color-stop(100%,#7db9e8), color-stop(101%,#28f7ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* IE10+ */
	background: linear-gradient(to bottom, #ff32ff 0%,#c4fcff 100%,#7db9e8 100%,#28f7ff 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff32ff', endColorstr='#28f7ff',GradientType=0 ); /* IE6-9 */

}

#logo1 {
	height: 250px;
	width: 250px;
	margin-top:50%;
	margin-bottom:50%;
	background-size: 250px 250px;
	background-position: center;
	background-repeat: no-repeat;
}
#logo1 {
	-webkit-animation: logo1change 10s infinite;
}
@-webkit-keyframes logo1change {
	0% {background-image: url("assets/img/banner.png");}
	16% {background-image: url("assets/img/todo.png");}
	33% {background-image: url("assets/img/banner.png");}
	50% {background-image: url("assets/img/appearance.png");}
	66% {background-image: url("assets/img/banner.png");}
	83% {background-image: url("assets/img/not.png");}
	100% {background-image: url("assets/img/banner.png");}
}
@keyframes logo1change {
	0% {background-image: url("assets/img/banner.png");}
	16% {background-image: url("assets/img/todo.png");}
	33% {background-image: url("assets/img/banner.png");}
	50% {background-image: url("assets/img/appearance.png");}
	66% {background-image: url("assets/img/banner.png");}
	83% {background-image: url("assets/img/not.png");}
	100% {background-image: url("assets/img/banner.png");}
}
