@font-face {
	font-family: Bauhaus;
	src: url(Bauhaus.ttf);
}
@font-face {
	font-family: Kremlin;
	src: url(Kremlin.ttf);
}

.people_info {
	width: 40%;
	text-align:justify;
	text-justify:inter-word;
	display: none;
	background-color: rgba(252,0,201,0.5);
	position:absolute;
	top:0px;
	right: 0px;
	margin-top: 5%;
	padding: 25px;
	border: 5px outset rgba(252,0,201,1);
	font-family: Helvetica;
	font-size: 1.5em;
	color:#FFFFFF;
}
.people_info h1 {
	font-family: Kremlin, Helvetica;
	cursor: pointer;
}
.people_info a {
	font-family: Bauhaus, Helvetica;
	cursor: pointer;
	color: #FFFFFF;
}
.people {
	display: inline-block;
	vertical-align: middle;
}

.people img:hover{
	cursor: pointer;
}
.people_text {
	display:none;
}

#people_title {
	height: 10%;
	box-shadow: none;
}

body {
	background-color: white;
	height: 100%;
	text-align: center;
}
#people_banner img {
	margin: 0px;
	height: 80%;
	width: 80%;
}